{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Webcomics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Ben Taylor</h1>
						<p>For love of the Web Comic and web development!</p>
						<ul class="icons">
							<li><a href="https://www.instagram.com/freshicet/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/freshicet" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:btaylor280@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							<li><a href="{% url 'about' %}" class="btn btn-primary btn-block" role="button">About</a><li>
							<li><a href="{% url 'webcomiclist' %}" class="btn btn-primary btn-block" role="button">Webcomic List</a><li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						
						
						<article>
							<a class="thumbnail" href="{% static 'images/2-4-7car.jpg' %}"><img src="{% static 'images/2-4-7car.jpg' %}" alt="" /></a>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'images/2-18-17CO3.jpg' %}"><img src="{% static 'images/2-18-17CO3.jpg' %}" alt="" /></a>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'images/2-18-17CO5.jpg' %}"><img src="{% static 'images/2-18-17CO5.jpg' %}" alt="" /></a>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'images/11-28-16steelwool.jpg' %}"><img src="{% static 'images/11-28-16steelwool.jpg' %}" alt="" /></a>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'images/photosofB.jpg' %}"><img src="{% static 'images/photosofB.jpg' %}" alt="" /></a>
						</article>
							
							
						
					</section>

				<footer id="footer">
						<ul class="copyright">
							<li>Photos all by me!</li>
						</ul>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/js/main.js"></script>

	</body>
</html>